/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.mode-edition {
	display: none;
	justify-content: center;
	gap: 10px;
	color: white;
	background-color: black;
	padding: 20px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
	margin-top: 20px;
}

modal {
	margin: 20%;
	margin-top: 55%;
	max-width: 630px;
	width: 100%;
	position: absolute;
	z-index: 1;
	display: none;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	background-color: #FFFFFF;
}
modal > .modal-container-bouton-fermer {
	display: flex;
	justify-content: space-between;
	border: 2px solid blue;
}
modal > .modal-container-bouton-fermer > i:hover {
	cursor: pointer;
}
modal > .modal-container-bouton-fermer > #retour {
	visibility: hidden;
}
modal > h3 {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 40px;
	margin-top: 20px;
}
modal > .modal-container-projets {
	display: flex;
	justify-content: center;
}
modal > div > .modal-subcontainer-projets {
	border-bottom: 2px solid #B3B3B3;
	display: flex;
	gap: 7px;
	flex-wrap: wrap;
	max-width: 420px;
	padding-bottom: 50px;
}
modal > div > .modal-subcontainer-projets > figure {
	margin-bottom: 20px;
	width: 76px;
}
modal > div > .modal-subcontainer-projets > figure > img {
	width: 77px;
}
modal > div > .modal-subcontainer-projets > figure > div {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	width: 17px;
	height: 17px;
	padding: 3px;
	background-color: black;
	margin-left: 50px;
	margin-top: -100px;
}
modal > div > .modal-subcontainer-projets > figure > div > i {
	color: white;
}
modal > .modal-container-bouton-ajouter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
modal > .modal-container-bouton-ajouter > button{
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border: none;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
modal > .modal-container-bouton-ajouter > label {
	background-color:#A7A7A7;
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 700;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	text-align: center;
	height: 50px;
	margin : 2em auto;
	border-radius: 60px;
	display: none;
}
modal > .modal-container-projets > form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 70px;
	border-bottom: 2px solid #B3B3B3;
}
modal > .modal-container-projets > form > button {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
modal > .modal-container-projets > form > .import-label {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F6 ;
	padding: 20px;
	width: 420px;
}
modal > .modal-container-projets > form > .import-label > i {
	width: 76px;
	height: 76px;
	color:  #CBD6DC;
	border: #306685 2px solid;
}
modal > .modal-container-projets > form > .import-label > .import-titre{
	background-color: #CBD6DC ;
	color: #306685;
	padding: 10px;
	margin-top: 10px;
	border-radius: 50px;
	text-align: center;
	width: 50%;
}
modal > .modal-container-projets > form > .import-label > .import-sous-titre{
	font-size: 10px;
	padding: 10px;	
}
modal > .modal-container-projets > form > .import-label > #import{
	display: none;
}
modal > .modal-container-projets > form > input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
modal > .modal-container-projets > form > select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
modal > .modal-container-projets > form > #modal-sumbit {
	display: none;
}

modal > .modal-container-projets > form > label {
	margin: 2em 0 1em 0;
}

.title {
	display: flex;
	align-content: center;
	justify-content: center;
	margin-bottom: 2em;
}

.bouton-modifier {
	display: none;
	align-items: center;	
	padding-bottom: 0;
	gap: 5px;
	border: 2px solid blueviolet;
	margin-left: 3%;
}
.bouton-modifier:hover {
	cursor: pointer;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

a{
	text-decoration: none;
	color: inherit;
}
/* !!!!! pb !!!
.active li {
	font-weight: 700;
}*/
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 16px;
	font-weight: 900;
}


li:hover {
	color: #B1663C;
	cursor: pointer;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}

.filter-bar {
	display: flex;
	justify-content: center;
	gap: 7px;
	border: 2px solid blue;
	margin-bottom: 3em;
}

.filter-bar button {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: 600;
	color: #1D6154;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: white;
	padding: 13px;
}
.filter-bar button:hover {
	background-color: #1D6154;
	color: white;
	cursor: pointer;
}
.filter-bar button:active {
	background-color: #1D6154;
	color: white;
}


.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
.formulaire {
	width: 50%;
margin: auto;
}
.formulaire > * {
	text-align: center;
}
.formulaire h2{
	margin-bottom: 20px;
}
.formulaire form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.formulaire input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formulaire label {
	margin: 2em 0 1em 0;
}
.formulaire textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formulaire span {
	margin:auto;
	text-decoration: underline;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	margin-bottom: 0px;
	height: 100%;
	display: flex;
	align-items: end;
	justify-content: end;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
